Welcome new Acme Inc Administrator!

The switch {{ inventory_hostname }} has been successfully provisioned:
  - Bootstraping: Level 1

The eAPI has been successfully provisioned, the socket is located at:
{{ jsonresulteapi.ansible_facts.eos_eapi_urls.Management1[0] }}

Contact help@example.org if you have issues moving forward with the switch.
